/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/




.item-box2 {
  border: solid 2px green;
  height: 350px;
  padding: 10px;

}

